certifi==2023.7.22
charset-normalizer==3.3.0
contextlib2==21.6.0
docopt==0.6.2
idna==3.4
internetarchive==3.5.0
jsonpatch==1.33
jsonpointer==2.4
requests==2.31.0
schema==0.7.5
tqdm==4.66.1
urllib3==2.0.6
